// ==================================================================================================
// Basics

$bodycolor		:	#fff;
$textsize		:	16;
$baselineheight	:	1.618em;
$baselinebase	:	1.618;

$primaryfont	:	adelle, Times, "Times New Roman", serif;
$secondaryfont	:	"Helvetica Neue", Helvetica, Arial, sans-serif;

$textcolor		:	#666;
$headingcolor	:	#333;
$smallcolor		:	#bbb;

$primarycolor	:	rgb(204,36,53);
$secondarycolor	:	rgb(12,106,153);
$tertiarycolor	:	rgb(212,207,36);
$neutralcolor	:	rgb(127,127,127);

$linkcolor		:	#333;
$linkcolor-hover:	#000;

// ==================================================================================================
// Responsiveness

$breakpoint		:	37.5em;	//	600px
$maxwidth		: 	800px;