// ==================================================================================================
// Basics

$bodycolor		:	#fff;
$textsize		:	16;
$baselineheight	:	1.618em;
$baselinebase	:	1.618;

$primaryfont	:	adelle, Times, "Times New Roman", serif;
$secondaryfont	:	"Helvetica Neue", Helvetica, Arial, sans-serif;

$textcolor		:	#666;
$headingcolor	:	#333;
$smallcolor		:	#bbb;

$primarycolor	:	rgb(204,36,53);
$secondarycolor	:	rgb(12,106,153);
$tertiarycolor	:	rgb(212,207,36);
$neutralcolor	:	rgb(127,127,127);

$linkcolor		:	#333;
$linkcolor-hover:	#000;

// ==================================================================================================
// Responsiveness

$bp2			: 	480px;
$bp3			: 	600px;
$max-width		:	800px;

// 320
@include add-grid(2);
@include add-gutter(1/6.853526);

// 480
@include add-grid(4 at $bp2);

// 600
@include add-grid(6 at $bp3);
@include add-gutter(1/4.235801 at $bp3);


@include sgs-change('debug', false);
@include sgs-change('output', 'isolation');