/* 

                        __   _               
  ___ _ ____ ___  ___  / /_ (_)___  ___ _ ___
 / _ `// __// -_)/ -_)/ __// // _ \/ _ `/(_-<
 \_, //_/   \__/ \__/ \__//_//_//_/\_, //___/
/___/                             /___/      

 Look here for the readable tinkering:
 (http://github url)

 Cesar <hi@cesaraguiar.me>

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Image replacement
 */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/*
// ================================================================================================== 
// Navigation
// bottom fixed navbar

[role="navigation"] {
background-color: #333;
position: fixed;
bottom: 0;
width: 100%;

	ul {
		@include zero();
		@include clearfix();
		font-size: 0.667em;
		text-transform: uppercase;

	li {
		display: inline-block;
		width: 12.5%;
	}

	a {
		text-align: center;
		width: 100%;
		display: block;
		padding: $baselineheight *1.618 0;
		color: $smallcolor;
		&:hover {
			color: #fff;
			background-color: #111;
		}
	}
	}

}
*/
/*

// ================================================================================================== 
// Navigation
// navbar with toggle

[role="navigation"] {

	ul {
		@include zero();
		padding-bottom: 40px;
	}
}

[role="navigation"] ul a,
a.nav-toggle {
	font-size: 0.667em;
	color: $smallcolor;
	text-transform: uppercase;
	line-height: 1.9;
	font-weight: 300;
	letter-spacing: 1px;

	&:hover {
		color: #000;
	}
}

a.nav-toggle {
	padding: 3px 6px;
	border-radius: 6px;
	position: relative;
	top: -12px;
	left: -3px;
	border: 1px solid #bbb;
	line-height: 1;
	margin-bottom: $baselineheight;
}
*/
.swatch {
  margin: 0 0 1.618em 0;
  padding: 0;
}

.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
}
.swatch-row:before, .swatch-row:after {
  content: " ";
  display: table;
}
.swatch-row:after {
  clear: both;
}

.swatch-row-one {
  background-color: black;
}

.swatch-row-two {
  background-color: white;
}

.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}

.swatch-base span:nth-child(1) {
  background-color: rgba(204, 36, 53, 0.9);
}

.swatch-base span:nth-child(2) {
  background-color: rgba(204, 36, 53, 0.8);
}

.swatch-base span:nth-child(3) {
  background-color: rgba(204, 36, 53, 0.7);
}

.swatch-base span:nth-child(4) {
  background-color: rgba(204, 36, 53, 0.6);
}

.swatch-secondary span:nth-child(1) {
  background-color: rgba(12, 106, 153, 0.9);
}

.swatch-secondary span:nth-child(2) {
  background-color: rgba(12, 106, 153, 0.8);
}

.swatch-secondary span:nth-child(3) {
  background-color: rgba(12, 106, 153, 0.7);
}

.swatch-secondary span:nth-child(4) {
  background-color: rgba(12, 106, 153, 0.6);
}

.swatch-tertiary span:nth-child(1) {
  background-color: rgba(212, 207, 36, 0.9);
}

.swatch-tertiary span:nth-child(2) {
  background-color: rgba(212, 207, 36, 0.8);
}

.swatch-tertiary span:nth-child(3) {
  background-color: rgba(212, 207, 36, 0.7);
}

.swatch-tertiary span:nth-child(4) {
  background-color: rgba(212, 207, 36, 0.6);
}

.swatch-neutral span:nth-child(1) {
  background-color: rgba(127, 127, 127, 0.9);
}

.swatch-neutral span:nth-child(2) {
  background-color: rgba(127, 127, 127, 0.8);
}

.swatch-neutral span:nth-child(3) {
  background-color: rgba(127, 127, 127, 0.7);
}

.swatch-neutral span:nth-child(4) {
  background-color: rgba(127, 127, 127, 0.6);
}

html {
  background: white;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #bbbbbb;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 2em;
  font-family: adelle, Times, "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.618em;
  color: #666666;
}

[role="main"],
[role="banner"],
[role="contentinfo"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[role="banner"],
[role="contentinfo"] {
  padding: 1.618em 0;
}

[role="main"] *:last-child,
[role="contentinfo"] *:last-child {
  margin-bottom: 0;
}

.logo {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-rendering: optimizelegibility;
  color: #333333;
  font-weight: 800;
}

h1, .h1 {
  font-size: 35.596px;
  font-size: 3.5596rem;
  line-height: 1.155714em;
  margin-bottom: 0;
}

h2, .h2,
h3, .h3 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.348333em;
  margin-bottom: 0.898889em;
}

h3, .h3 {
  font-weight: 400;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.618em;
  margin-bottom: 1.618em;
}

p.intro {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.348333em;
  margin: 1.348333em 0;
}

p {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.618em;
  font-weight: 300;
}

p.pullquote {
  padding-left: 11px;
  border-style: solid;
  border-left-width: 3px;
  margin-bottom: 1em;
}

p.author {
  font-size: 11px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #bbbbbb;
}

small {
  color: #bbbbbb;
}

.entry-meta {
  font-size: 11px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 2.353455em;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-left: 2px;
  line-height: 1.618em;
}
.entry-meta a {
  color: #bbbbbb;
}
.entry-meta a:hover {
  color: black;
}

a {
  color: #333333;
  text-decoration: none;
}
a:hover, a:focus {
  color: black;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

[role="navigation"] ul {
  margin: 0;
  padding: 0;
  margin-left: -2%;
  text-align: center;
}
[role="navigation"] ul li {
  line-height: 0.898889em;
  display: inline-block;
  margin-left: 2%;
}
[role="navigation"] a {
  font-size: 11px;
  font-size: 1.1rem;
  color: #bbbbbb;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}
[role="navigation"] a:hover {
  color: #000;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 70.3125%;
  }

  h1, .h1 {
    font-size: 54px;
    font-size: 5.4rem;
  }

  [role="main"],
  [role="banner"],
  [role="contentinfo"] {
    max-width: 800px;
    margin: 0 auto;
  }

  nav[role="navigation"] ul {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  nav[role="navigation"] ul li {
    line-height: 0.898889em;
    display: list-item;
    margin-left: 0;
  }

  .entry-meta {
    border-top-style: none;
  }
}
